<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.devx.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.devx.model.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="en_code" property="enCode" jdbcType="VARCHAR" />
    <result column="head_img" property="headImg" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="tele_phone" property="telePhone" jdbcType="VARCHAR" />
    <result column="msn" property="msn" jdbcType="VARCHAR" />
    <result column="oicq" property="oicq" jdbcType="VARCHAR" />
    <result column="manager_id" property="managerId" jdbcType="BIGINT" />
    <result column="manager_name" property="managerName" jdbcType="VARCHAR" />
    <result column="organ_id" property="organId" jdbcType="BIGINT" />
    <result column="organ_name" property="organName" jdbcType="VARCHAR" />
    <result column="dept_id" property="deptId" jdbcType="VARCHAR" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="post_id" property="postId" jdbcType="BIGINT" />
    <result column="post_name" property="postName" jdbcType="VARCHAR" />
    <result column="duty_name" property="dutyName" jdbcType="VARCHAR" />
    <result column="duty_id" property="dutyId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="last_password_reset_date" property="lastPasswordResetDate" jdbcType="TIMESTAMP" />
    <result column="is_admin" property="isAdmin" jdbcType="INTEGER" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="login_count" property="loginCount" jdbcType="INTEGER" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
  </resultMap>
</mapper>